name: package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        sudo apt-get install -y libicu-dev
        python -m pip install --upgrade pip wheel
        pip install pyicu coverage nose mypy
        pip install -e .
    - name: Type checking
      run: |
        mypy --strict fingerprints
    - name: Test with pytest
      run: |
        nosetests --with-coverage --cover-package=fingerprints --cover-erase
    - name: Build a distribution
      run: |
        python setup.py sdist bdist_wheel
    - name: Publish a Python distribution to PyPI
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}